

#columnas {
    column-count: 2;
    column-gap: 130px;

}

.green {
    background: green;
    color: white;
}

.red {
    background: red;
    color: white;
}

.yellow {
    background: yellow;

}

.texto-principal{
    font-family: "Montserrat";
    color: #5e80b7;
    font-size: 20px;
    margin: 0;
}


@media(max-width:900px){
    #columnas {
        column-count: 1;
        column-gap: 80px;
    }


}

