#columnas {
    column-count: 2;
    column-gap: 130px;

}

.green {
    background: green;
    color: white;
}

.red {
    background: red;
    color: white;
}

.yellow {
    background: yellow;

}

@media(max-width:900px){
    #columnas {
        column-count: 1;
        column-gap: 80px;
    }


}
